
<div class="container-fluid">
  <div class="card">
  <img class="card-img-top"  class="img-fluid" src="assets/Imagenes/CV/rostrojeff.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title" class="text-center">JEFFRYD AARON FUNEZ ESTRADA</h4>
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Niñes y primeros estudios</h4>
          <p class="card-text">
            Nací en la ciudad de Tegucigalpa en Honduras
            el 12 de noviembre de 1993. Estudié la primaria en
            Buenos Aires Santa Barbara.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" class="text-center">
            Descubrimiento de talento</h4>
          <p class="card-text">En cuarto grado ganaba
         concursos de dibujo, al llegar a la secundaria deje de
         pintar,  interesandome más en programación y reparación
         de computadoras, por eso saque un Bachillerato en Ciencias
          y Letras asi como Técnico en Computación en la
          preparatoria.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" class="text-center">
            Elección Profesional</h4>
          <p class="card-text">
          Sin embargo al hacer mis prácticas
           profesionales de la preparatoria me tocó tomar fotos y
            editarlas para catalogar los productos de la empresa.
            Esto marco mi vida y guió mi destino hacia la
             Universidad de Navojoa en México para estudiar Diseño
              Gráfico con acentuación en Diseño Publicitario.</p>
        </div>
      </div>
    </div>
    <a routerLink="/portafolio"
    routerLinkActive="active" class="btn btn-primary">
    Ver portafolio</a>




  </div>
</div>
</div>
