<!--Submenu de categorias-->
<div class="container-flui">
  <!-- <div class="row slider align-items-center justify-content-center " >
    <div class="col-10" >
      <h2  id="Lproye">
      {{titulo}}
      </h2>

    </div>
  </div> -->

    <div class="row slider align-items-center justify-content-center bg-info"  >
      <div class="col-6" >
        <h4>Publicidad</h4>
      </div>
    </div>

    <div class="row " >
      <div class="col-sm-12 " >
        <app-proyecto
          ng-if="proyectos"
          [proyectos]="proyectos | filtroCategoria: 'Publicidad'">
        </app-proyecto>

    </div>
    </div>

    <div class="row slider align-items-center justify-content-center bg-info"  >
      <div class="col-6"  >
        <h4>Fotografia</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <app-proyecto
          ng-if="proyectos"
          [proyectos]="proyectos | filtroCategoria: 'Fotografia'">
        </app-proyecto>

    </div>
    </div>

    <div class="row slider align-items-center justify-content-center bg-info">
      <div class="col-7">
        <h4>Dibujo Digital</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <app-proyecto
          ng-if="proyectos"
          [proyectos]="proyectos | filtroCategoria: 'Dibujo Digital'">
        </app-proyecto>

    </div>
    </div>

    <div class="row slider align-items-center justify-content-center bg-info">
      <div class="col-5">
        <h4>Multimedia</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-proyecto
          ng-if="proyectos"
          [proyectos]="proyectos | filtroCategoria: 'Multimedia'">
        </app-proyecto>

    </div>
    </div>


</div>
