<ngb-carousel>
  <ng-template ngbSlide>
    <img src="\assets\Imagenes\Portada\1680_1050_20091125092318219857.png"
    alt="Random first slide">
    <div class="carousel-caption">
      <h3>Jeffryd Aaron Funez Estrada</h3>
      <p>Diseñador Grafico Publicitario</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="\assets\Imagenes\Portada\1680_1050_20091125092318219857.jpg"
    alt="Random second slide">
    <div class="carousel-caption">
      <h3>Egresado de la Unav</h3>
      <p>Con Título Universitario</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="\assets\Imagenes\Portada\2.png"
    alt="Random third slide">
    <div class="carousel-caption">
      <h3> Joven Con Principios </h3>
      <p> Un joven con principios, es un Joven de éxio</p>
    </div>
  </ng-template>
</ngb-carousel>

<p style="display: none">
  https://theinfogrid.com/tech/developers/angular/angular-module-image-slider-carousel/
</p>
