<!-- <div *ngIf="proyectos">
  <ul>
    <li *ngFor="let proyecto of proyectos">
      <strong>{{ proyecto.Cliente }}</strong>
      <p>{{ proyecto.Trabajo_Realizado }}</p>
    </li>
  </ul>
</div> -->

<div *ngIf="proyectos" class="col align-self-center">
  <div  class="col align-self-center">
    <ul class="list-group">
      <li *ngFor="let proyecto of proyectos" class="list-group-item">
        <div class="card w-100 p-3" style="width: 12rem;">
          <img class="card-img-top" src="assets/Imagenes/Portafolio/proyecto/espacio para el proyecto-01.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> <strong>{{ proyecto.Cliente }}</strong> </h5>

            <p class="card-text"> {{ proyecto.Trabajo_Realizado }} </p>
            <a href="#" class="btn btn-primary"> ver </a>

          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
